.pdf-container {
  text-align: center;
  padding: 2rem;
  background-color: #343434;
  position: relative;
}

.pdf-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-y: auto;
}

.pdf-viewer canvas {
  margin: 1rem 0;
}

.download-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  position: fixed;
  left: calc(50% + 150px);
  top: 22px;
  z-index: 10;
}
.download-btn:hover {
  background-color: #0056b3;
}
